body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #0b0b0b;
}

.title {
	color: white;
	margin-bottom: 1rem;
}

.conTitle {
	color: white;
	margin-top: 20px;
}

.card-img-top {
	width: 15rem;
	height: 20rem;
	object-fit: cover;
	margin: 0 auto;
}

.card-deck {
	margin: 20px auto;
	background-color: #0b0b0b;
}
.card {
	background-color: #0b0b0b;
	border-color: #0b0b0b;
	color: white;
	margin: 0;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.maxWidth {
	max-width: 100%;
}

.underline {
	text-decoration: underline;
}

.spanStyle {
	display: inline-block;
	color: white;
}

.divStyle {
	margin-bottom: 20px;
}

.icon {
	margin: 0 2rem;
	color: white;
}

.home {
	margin-top: 3rem;
	margin-bottom: 2rem;
}

@media screen and (max-width: 900px) {
	.title {
		width: 100%;
	}
	.Grove {
		margin-top: 1rem;
		width: 6rem;
	}
	.Weuse {
		margin-left: 0.5rem;
		margin-top: 1rem;
		width: 5rem;
	}
	.Yikun {
		margin-left: 0.7rem;
		width: 4rem;
	}
	.CJ {
		width: 7rem;
	}
	.TipTop {
		width: 15rem;
	}
	.logo1 {
		max-width: 4rem;
	}
	.Greatest {
		width: 5rem;
	}
	.field {
		width: 60%;
		margin-bottom: 2rem;
	}
	.protest {
		display: inline-block;
	}
	.protest img {
		height: 13.5rem;
		margin-top: 1rem;
	}
}

@media screen and (min-width: 900px) {
	.title {
		width: 90%;
	}
	.Grove {
		margin-top: 1rem;
		width: 10rem;
		margin: 1rem 1rem 0rem 1rem;
	}
	.Weuse {
		margin-left: 0.5rem;
		margin-top: 1rem;
		width: 9rem;
	}
	.Yikun {
		margin-left: 0.7rem;
		width: 8rem;
	}
	.CJ {
		width: 15rem;
	}
	.TipTop {
		width: 27rem;
	}
	.logo1 {
		max-width: 10rem;
	}
	.Greatest {
		width: 9rem;
	}
	.hkupa {
		margin-left: 10rem;
	}
	.lcsd {
		margin-right: 10rem;
	}
	#hkupa {
		width: 8rem;
	}
	#lcsd {
		width: 9.5rem;
	}
	.field {
		width: 60%;
	}
	.protest {
		display: inline-block;
	}
	.protest img {
		height: 23rem;
		margin-top: 1rem;
	}
}

.col h5 {
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.map {
	padding-right: 0.5rem;
}

.tickets {
	width: 10rem;
	height: 5.5rem;
}

.leftAlign {
	text-align: left;
}

.footer {
	color: white;
}

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex: 1;
}

.navbar {
	margin-bottom: 2rem;
}
