body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #282c34;
}

.title {
	color: white;
	margin-top: 20px;
	margin-bottom: 3rem;
}

.conTitle {
	color: white;
	margin-top: 20px;
}

.card-img-top {
	width: 15rem;
	height: 20rem;
	object-fit: cover;
	margin: 0 auto;
}

.card-deck {
	margin: 20px auto;
	background-color: #282c34;
}
.card {
	background-color: #282c34;
	border-color: #282c34;
	color: white;
	margin: 0;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.maxWidth {
	max-width: 100%;
}

.underline {
	text-decoration: underline;
}

.spanStyle {
	display: inline-block;
	color: white;
}

.divStyle {
	margin-bottom: 20px;
}

.icon {
	margin: 0 2rem;
	color: white;
}

.logo1 {
	max-width: 10rem;
	height: 10rem;
}
.Yikun {
	width: 9rem;
}
.CJ {
	width: 16rem;
}
.TipTop {
	width: 22rem;
}

.Grove {
	width: 12rem;
}

.Weuse {
	width: 10rem;
}
.home {
	margin-top: 3rem;
	margin-bottom: 2rem;
}

@media screen and (max-width: 366px) {
	.Grove {
		margin-top: 1rem;
	}
}
@media screen and (min-width: 397px) {
	.Grove {
		margin-left: 2rem;
	}
}
@media screen and (max-width: 900px) {
	.title {
		width: 100%;
	}
}

@media screen and (min-width: 900px) {
	.title {
		width: 70%;
	}
}

@media screen and (min-width: 366px) {
	#satTicket {
		margin-right: 1rem;
	}
}

.col h5 {
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.map {
	padding-right: 0.5rem;
}

.tickets {
	width: 10rem;
	height: 5.5rem;
}

.leftAlign {
	text-align: left;
}

.footer {
	color: white;
}
